<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>my js course</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./public/style.css">
  <script src="./public/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div>
    <div class="main-header">
      <div class="container">
        <h1>JavaScript编程入门</h1>
      </div>
      <a class="navbar-brand" href="/js_course.html">成员</a>
      <a class="navbar-brand" href="/js_words.html">心里话</a>
      <a class="navbar-brand" href="/js_detail.html">课程详情</a>
      <a class="navbar-brand" href="/js_homework.html">课程作业</a>
    </div>
    <div class="container">
      <!-- 我想对老师说 -->
      <div class="col-md-4 col-xs-12" id="to_teacher">
      <div class="panel-heading">
        <h3 class="panel-title">老师，我想对你说</h3>
      </div>

      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">姓名</span>
          <input type="text" class="form-control" v-model="name" placeholder="报上名来" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">账号</span>
          <input type="text" class="form-control" v-model="account" placeholder="注册用的手机或邮箱" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">内容</span>
          <input type="text" class="form-control" v-model="content" placeholder="想说就说" aria-describedby="basic-addon1">
      </div>
      <button v-on:click="sendData" class="btn btn-primary ">发给老师</button>
      </div>
      <!-- end of to_teacher -->

      <div class="panel panel-default col-md-8  col-xs-12" id="words">
        <div class="panel-heading">
          <h3 class="panel-title">我的心里话</h3>
        </div>
        <div class="panel-body">
          <div class="words-pannel" v-for="item in wordsList">
            <div class="media">
              <div class="media-left">
                <a href="#">
                    <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
                  </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{ item.name }}
                </h4>
                {{ item.words }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of words -->

    </div>
    <!-- end of container -->
  </div>
</body>

</html>
<script>
  // vue官网： https://cn.vuejs.org/v2/guide/
  // 初始化Vue

  var words = new Vue({
    el: '#words',   // #words 和html中div#id的 words 对应
    data: {
      wordsList: [],  // 变量wordsList可以在html使用
    },
    methods: {
      fetchData: function() {
        axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/words')
          .then(function (response) {
            words.wordsList = response.data.words;
          })
          .catch(function (error) {
            console.log(error);
          });
      },
    }
  });

  var talk = new Vue({
    el: '#to_teacher',   // #talk 和html中div#id的 to_teacher 对应
    data: {
      name: "",
      account: "",
      content: ""
    },
    methods: {
      sendData: function() {
        //TODO: 对老师说点什么呢？
        console.log(this.name)
        if (!this.name || !this.account || !this.content) {
          alert('fill your name/account/content');
          return;
        }
        axios.post('https://js.xinshengdaxue.com/api/v1/learnJS/sayToMe', {
              name: this.name,
              account: this.account,
              content: this.content
        })
        .then(function (response){
          if (response.data.code == 1)
            alert("消息发送成功！");
          else
            alert("消息发送失败：返回值 %d", response.code);
        })
        .catch(function (error){
          console.log(error);
        })
        // alert("sendData");
      }
    }
  });


  words.fetchData();
</script>
